{%extends "view.html" %}
{%load static%}
{% load tz %}
{%block content%}
<style>
  body {
    font-family: Arial, sans-serif;
  }

  h2 {
    color: #333;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #282d32;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0e1011;
  }

  .alert {
    position: fixed;
    z-index: 90;
    right: 80px;
    top: 10px;
  }
</style>
<h1 class="mt-5 display-5 text-capitalize text-center">
  <span class="text-primary text-center">Book For</span> {{ turf.Turf_name }} Turf
</h1>
<div class="container">
  <div class="row">
      
      <div class="col-md-6">
          <!-- Button with a link to the weather page -->
          <a href="{%url 'climate' %}" class="btn  btn-lg" style="background-color: rgb(154, 249, 193);"><i class="fas fa-cloud"></i>Check Weather</a>
      </div>
  </div>
</div>
<br><br>
  
  {% if error_message %}
  <div class="alert alert-danger alert-dismissible fade show" style="position: fixed;z-index: 90;right:80px;top:30px"
    role="alert">
    <strong>{{ error_message }} !!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  {% endif %}
<div class="book_form" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; padding: 10px; max-width: 500px;">
  <form method="post" action="{% url 'book_turf' turf.Turf_ID %}">
    {% csrf_token %}

    <label for="id_game">Game:</label>
    <select name="game" id="id_game">
      <option value="cricket">Cricket</option>
      <option value="football">Football</option>
      <option value="badminton">Badminton</option>
      <option value="fitness">Fitness</option>
      <option value="coaching">Coaching</option>
    </select>
<br>
    <label for="id_date">Date:</label>
    <input type="date" name="date" id="id_date" required>
<br>
    <label for="id_start_time">Start Time:</label>
    <input type="time" name="start_time" id="id_start_time" required>

    <input type="hidden" name="timezone_offset" id="timezone_offset">

  <br>  

    <label for="id_end_time">End Time:</label>
    <input type="time" name="end_time" id="id_end_time" required>

  <br>

    <label for="id_phone_number">Phone Number:</label>
    <input type="text" name="phone_number" id="id_phone_number" required>

    <br>

    

    <button type="submit">Book Now</button>
  </form>
</div>
  <script>
    // Get the current timezone offset and set it as the value of the hidden input
    document.getElementById('timezone_offset').value = new Date().getTimezoneOffset();
</script>
{%endblock%}